{% extends "basic_app/basic_app_base.html" %}
{% block body_block %}
  <div class="jumbotron">
    <h1>Welcome to the Book Detail Page</h1>
    <h2>Book Details:</h2>
    <p>Id_num: {{book_details.id}}</p>
    <p>Name: {{book_details.name}}</p>
    <p>Author: {{book_details.author}}</p>
    <p>Location: {{book_details.location}}</p>


  

  </div>
  <div class="container">
    <p><a class='btn btn-warning' href="{% url 'basic_app:update' pk=book_details.pk %}">Update</a></p>

  </div>

{% endblock %}
